<!DOCTYPE html>
<html>
  <head>
    <title>TEMPlate | 500 Page</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
    .banner {
      background-color: #2969DA;
    }

    body {
      font-family: Lato !important;
      color: #484848 !important;
    }

    h1 {


      letter-spacing: -0.05em;
      margin: -30px 0px 0px 0px;
    }

    p {
      font-size: 2em;
    }

    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
  </head>

  <body>
  <!-- <body style="background: red"> -->
    <div class="banner p-3">
      <img src="https://res.cloudinary.com/dt02hu2ll/image/upload/v1574099382/Template_Logo_V1_evmfvp.png"
         class="">
      <div class="text-center ">

      </div>
    </div>

    <div class="text-center p-3">
      <br>
      <h1>Welcome to Template <%= @user.first_name %>!!!</h1>
      <p class="border-bottom p-3"></p>
      <br>
      <p>Thanks for signing up to Template</p>
      <br>
      <p>Stay tuned for all the news on our launch...</p>
      <br>
      <a class="btn btn-primary" href=<%= "/users/#{@user.id}/edit" %>>Add Your Profile Details</a>
  </div>


    </div>

  </body>
</html>
