
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: #F7F9FD;
    color: #292929;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #464646;
    font-family: Arial;
    letter-spacing: -0.05em;
    font-weight: 600;
    font-size: 16px;
    margin-left: 10px;
}
#sidebar ul li a:hover {
    color: #131313;
    text-decoration: none;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #272727;
    background: white;
    font-weight: 700;
}

#sidebarCollapse {
  color: #2969DA;
  font-size: 20px;
}

#sidebarCollapse:hover {
  color: white;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
}

.profile-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 2px 2px #E3E3E3;
}
