// Specific CSS for your home-page
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  padding-top: 66px;
  margin: 0;
  overflow-x: hidden;
}


h1 {
  font-family: Roboto Mono;
  font-weight: 700;
  letter-spacing: -0.05em;
  color: #272727;
}

.content {
  padding: 20px;
  padding-bottom: 50px;
  min-height: 100%;
}

.content-home {
  padding: 20px;
  padding-bottom: 50px;
  min-height: 100%;
}

.content-index {
  padding: 20px;
  padding-bottom: 50px;
  min-height: 60%
}

.avatar {
  vertical-align: middle;
  object-fit: cover;
  width: 50px;

  height: 50px;
  border-radius: 50%;
}

.search-form {
  display: flex;
  width: 80%;
}

.landing-page-search {
  width: 450px;
}

.landing-card {
  opacity: 1;
}

.homepage-image {
  position: absolute;
  right: 165px;
  top: 60px;
  height: 400px;
  width: auto;
}

#footer {
  background-color: #e2e2e2;
  position: relative;
  height: 60px;
  margin-top: -50px;
}

#footer-tagline {
  font-family: Roboto Mono;
  color: gray;
  letter-spacing: -0.05em;
  font-size: 13px;
  text-align: center;
  position: absolute;
  bottom: -5px;
  left: 500px;
}

#landing-hero {
  width: 100%;
}

#landing-page-search {
  position: absolute;
  bottom: -44px;
  width: 40%;
  height: 57px;
}

.signin-image {
  position: absolute;
  right: 100px;
  top: 100px;
  height: 300px;
  width: auto;
}
