// Specific CSS for your home-page
* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 92vh;
  padding-top: 66px;
  margin: 0;
  overflow-x: hidden;
  background: white;
}

@media (max-width: 768px) {
  body {
    padding-top: 0px;
    padding-bottom: 66px;
  }

}

.scrollable-menu {
  top: -230px !important;
  left: 406px !important;
  width: 250px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial;
  font-weight: 600;
  letter-spacing: -0.05em;
  color: #272727;
}

p {
  font-family: Arial;
  letter-spacing: -0.03em;
}

.content {
  padding: 20px;
  padding-bottom: 50px;
  min-height: 100%;
}

.content-home {
  padding: 20px;
  padding-bottom: 50px;
  min-height: 100%;
}

.content-index {
  padding: 20px;
  padding-bottom: 50px;
  min-height: 60%
}

.avatar {
  vertical-align: middle;
  object-fit: cover;
  width: 50px;

  height: 50px;
  border-radius: 50%;
}

.search-form {
  display: flex;
  width: 80%;
}

.landing-card {
  opacity: 1;
}

.homepage-image {
  position: absolute;
  right: 165px;
  top: 80px;
  height: 380px;
  width: auto;
}

.footer {
  background-color: #A5B3C0;
  min-height: 10vh;
}

#footer-tagline {
  font-family: Roboto Mono;
  color: white;
  letter-spacing: -0.05em;
  font-size: 12px;
  text-align: center;
  margin: auto;
  line-height: 4vh;
}

#landing-hero {
  width: 100%;
}

#landing-page-search {
  position: absolute;
  bottom: -44px;
  width: 100%;
  height: 73px;
}

.signin-image {
  position: absolute;
  right: 100px;
  top: 160px;
  height: 300px;
  width: auto;
}

.navbar-preload {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.homepage-img {
  margin-top: 10px;
}

.fixed-top {
  z-index: 1 !important;
}

@media only screen and (max-width: 400px) {
.mobile-avatar {
  margin: 0px;
  }
}

.transparent-nav {
  background-color: rgba(0,0,0,0);
}

.fa-check-circle {
  color: #62cc34;
  font-size: 65px;
}
