#display_all_jobs {
  margin-bottom: 40px;
}

#look_in_jobs_index {
  width: 100px;
}

.search_sectors {
  margin-left: 16px;
}

.search_price_cents {
  margin-left: 16px;
}

.search_start_time {
  margin: 10px 50px;
}
