.landing-body {
  background-color: white;
}

#landing-hero {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 536px;
  background-color: #2a69da;
  z-index: 1;
}

.confirm-page {
  background-color: white !important;
  height: 100%;
  margin-top: 50px;
}

.confirm-page-main-h1 {
  color: #2f79ff !important;
  font-size: 80px !important;
}

.confirm-page-h1 {
  color: black !important;
}

.confirm-page-h3 {
  margin-left: 5vw;
  margin-top: 35px;
  margin-right: 5vw;
  color: #585858;
}

.confirm-page-img {
  margin-top: 50px;
  margin-left: -100px !important;
}

#landing-logo {
  margin-left: 100px;
  margin-top: 30px;
}

#landing-hero-h1 {
  color: white;
  font-size: 46px;
  margin-left: 5vw;
  margin-top: 70px;
  margin-right: 5vw;

  line-height: 1em;
}

#landing-hero-undraw {
  position: absolute;
  margin-top: -490px;
  margin-left: 711px;
}

#landing-hero-coins {
  position: absolute;
  margin-top: -280px;
  margin-left: 810px;
}

.landing-card {
  width: 60%;
  height: 35%;
  margin-left: 5vw;
  margin-top: 90px;
  border-radius: 7px;
}

#search-box-text {
  font-size: 13px;
  color: gray;
}

#search-box-text-bottom {
  font-size: 13px;
  color: gray;
  margin-top: 15px;
}

#sign-in {
  color: #2a69da;
}

#signup {
  position: absolute;
  margin-left: 80px;
  margin-top: 20px;
}

#signup a {
  color: white;
}

.landing-jobs {
  margin-top: 550px;
}

