<div class="shadow-sm my-3 p-3">
  <div class="d-flex justify-content-between align-items-top">
    <div class="pr-2">
      <p class="mb-0"><%= review.title %> - </p>
      <p class="mb-0"><em><%= "#{review.shift.job.title}" %></em></p>

    </div>
    <div>

      <h6><span ><% review.score.round.times do %><i class="star fas fa-star"></i><% end %></span></h6>

    </div>

  </div>


  <p class="pt-3"><strong>"<%= review.content %>"</strong> - <em><%= review.reviewer.first_name %></em></p>
</div>
