<div class="p-3 m-2">

  <% if user.reviews.any? %>
    <% user.reviews.each do |review| %>
      <%= render 'reviews/shared/review-card', review: review %>
    <% end %>
  <% else %>
    <p>No reviews yet</p>
  <% end %>
</div>

