<div class="info-window p-2">
  <h5><%= job.title %></h5>
  <i class="fas fa-user-clock card-icon"></i>
  <p><%= job.location.scan(/.*.+?(?=, )/).first %></p>
  <button type="button" class="btn btn-map" data-toggle="modal" data-target="#showJob<%=job.id%>">
  Learn more
</button>
</div>
