<div class="container">
  <h1>Jobs</h1>
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" placeholder="Please enter the type of job you are looking for..." name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
  <% end %>
  <% @jobs.each do |j|%>
    <div class="card p-3">

        <%= link_to "#{j.title}", job_path(j)  %>
        <%= j.description %>
        <%= render 'shared/show-jobs', job: j %>
    </div>
  <% end %>

</div>
