<div class="card p-3 m-2">
  <div class="d-flex justify-content-between">
    <h2>Closed Jobs</h2>
  </div>
  <br>

  <% jobs.each do |job| %>
      <% if job.done %>
        <div class="d-flex justify-content-between border-bottom py-2">
          <h6><%= job.title %></h6>
          <p><%= link_to 'Details', job_path(job), class: "btn btn-show"%></p>
        </div>
      <% end %>
    <% end %>
</div>
