<div id="upcoming_jobs" class="col-12">
  <div class="card p-3 m-2">
  <div class="d-flex justify-content-between">
    <h2>Closed Jobs</h2>
  </div>
    <br>

    <% jobs.each do |job| %>
      <% if job.done %>
        <%= link_to job.title, job_path(job), class: "border-bottom" %>
      <% end %>
    <% end %>
  </div>
</div>
