<div class="fixed-top navbar navbar-expand-sm navbar-light navbar-lewagon" id="site_header">
   <%= link_to image_tag("https://res.cloudinary.com/dt02hu2ll/image/upload/v1574099382/Template_Logo_V1_evmfvp.png"), current_user&.employer ? dashboard_employer_path : home_path, class: "navbar-brand"  %>
    <p></p>
    <%= render 'shared/avatar', class: 'homepage-avatar ' %>
</div>

<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog signup-modal-master" role="document">
    <div class="modal-content signup-modal">
      <%= render 'devise/registrations/new' %>
    </div>
  </div>
</div>

