<div class="col-sm-12 col-md-6">
  <div class="card shadow-sm p-3">

    <div class="job_card_header">
      <h2 class="d-inline"><%= j.title %></h2>
      <%= cl_image_tag j.user.photo.key, class: "avatar d-inline float-right", crop: :fill if j.user.photo.attached? %>
    </div>
    <div class = my-2>
      <%= j.description %>
    </div>
    <br>
    <%= render 'shared/show-jobs', job: j %>
  </div>
</div>
