
<div id="upcoming_jobs" class="col-12 col-md-6">
  <div class="card p-3 m-2">

    <h2>Job History</h2>
    <br>
      <% user.shifts.order(:date).each do |shift|  %>
          <% if shift.date < DateTime.now  %>
             <p class="border-bottom"> <%= link_to shift.job.title, shift_path(shift) %> </p>
          <% end %>
      <% end %>
  </div>
</div>
