
<div id="upcoming_jobs" class="col-6 card p-3">
  <h2>Job History</h2>
  <br>
    <% user.shifts.order(:date).each do |shift|  %>
        <% if shift.date < DateTime.now  %>
          <p> Job: <%= shift.job.title %> </p>
        <% end %>
    <% end %>
</div>
