<div id="upcoming_jobs" class="col-12">
  <div class="card p-3 mx-2">
  <div class="d-flex justify-content-between">
    <h2>Listed Jobs</h2>
    <%= link_to "Create Job", new_job_path %>
  </div>
    <br>

    <% jobs.each do |job| %>
      <% unless job.done %>
        <%= link_to job.title, job_path(job), class: "border-bottom" %>
      <% end %>
    <% end %>
  </div>
</div>
