
<div id="payment_details" class="col-12 col-md-6">
  <div class="card p-3 m-2">
    <h2>Payment Details</h2>
    <br>
    <p>Card Nickname:</p>
    <p>Card Type:</p>
    <p>Card Number:</p>
    <div class="p-2">
      <%= link_to 'Update', user_registration_path, :confirm => 'Are you sure you want to destroy your account?', :method => :delete, class: "btn btn-flat" %>
    </div>
  </div>

</div>
