<div class="fixed-top navbar navbar-expand-sm navbar-light navbar-lewagon transparent-nav" id="site_header">
    <p></p>
    <%= render 'shared/avatar', class: 'homepage-avatar ' %>
</div>

<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog signup-modal-master" role="document">
    <div class="modal-content signup-modal">
      <%= render 'devise/registrations/new' %>
    </div>
  </div>
</div>

