<div class="container">
  <div class="d-flex justify-content-around m-3">
    <h1>Request from <%= @request.user.first_name.capitalize %></h1>
  </div>
  <div class="row">

    <div class="col-12 col-md-6">
      <%= render 'shared/profile-card', user: @request.user %>
    </div>

    <div class="col-12 col-md-6">
      <%= render "chats/chat-window", chat: @request.chat %>
    </div>
  </div>
  <p><%= link_to "Back", job_path(@request.shift.job), class: 'btn btn-flat' %></p>
</div>
