<% page = "upcoming" %>

<div class="wrapper">
  <%= render 'pages/shared/employee_dashboard_sidebar', page: page %>
  <div class="container px-2 py-3">

    <div class="dashboard-card">
      <h3 class="py-3">Upcoming Jobs</h3>
      <% @shifts.order(:start_time).each do |shift|  %>
        <% if shift.start_time >= DateTime.now  %>

              <%= render 'shifts/shared/shift-card-employee', shift: shift, user: shift.job.user, job: shift.job %>

        <% end %>
      <% end %>
    </div>
  </div>
</div>
