<div class="fixed-bottom navbar navbar-expand-sm navbar-light navbar-bottom">

  <div class="w-50 text-center bottom-navlink" >
    <%= link_to '', dashboard_path, class: "fas fa-home text-center bottom-navlink"  %>

  </div>
  <div class="w-50 text-center bottom-navlink">
    <%= link_to '', jobs_path, class: "fas fa-search text-center bottom-navlink"  %>

  </div>
</div>

