
                <tr>
                  <td><%= "#{current_user.employer ? chat.employee.first_name : chat.employer.first_name} (#{messages})" %></td>
                  <td><%= chat.messages.last.content %></td>

                  <td><%= "#{chat.request.shift.job.title} on #{Time.parse(chat.request.shift.start_time).strftime("%e %b")}" %></td>
                  <td><%= chat.messages.last.created_at.strftime("%H:%M") %></td>
                </tr>
