<div id="pending-requests" class="col-12 col-md-6">
  <div class="card p-3 m-2">

    <h2>Pending Requests</h2>
    <br>

<% requests.each do |request| %>
  <% if request.shift.user %>
    <div class="d-flex justify-content-between">
      <p><%= request.shift.job.title %></p>
      <p><%= request.shift.date %></p>
      <%= render 'shifts/shift-card-modal', shift: request.shift %>
    </div>
  <% end %>
<% end %>
  </div>
</div>
