<div class="card m-2 p-3 profile-card">

  <h2>Pending Requests</h2>
  <br>

  <% requests.each do |request| %>
    <% unless request.shift.user %>
      <div class="row justify-content-between m-2">
        <p><%= request.shift.job.title %></p>
        <p><%= request.shift.start_time %></p>
        <p><%= request.shift.end_time %></p>
        <%= render 'shifts/shift-card-modal', shift: request.shift %>
      </div>
    <% end %>
  <% end %>
</div>
