<%= render 'shared/dashboard-navbar' %>

<div class="landing-body">
  <div id="landing-hero">
    <img id="landing-logo" src="https://res.cloudinary.com/dt02hu2ll/image/upload/v1574099382/Template_Logo_V1_evmfvp.png"/ height="80px">
    <h1 id="landing-hero-h1">The quickest and easiest way <br>to find short term work that<br>suits your lifestyle.</h1>

   <% unless current_user %>
    <div id="signup">
      <a href="/users/sign_in" class="btn btn-ghost">Sign In </a>
      <a href="/users/sign_up" class="btn btn-ghost">Sign Up</a>
    </div>
   <% end %>
    <div class="landing-card">
      <div class="search-form-control form-group" id='landing-page-search'>
      <%= simple_form_for :search, url: jobs_path, method: :get, id: 'homepage-search' do |f| %>
          <input class="form-control string required" type="text" placeholder="Please enter the type of job you are looking for..." name="search[query]" id="search_query" />
          <button name="button" type="submit" class="btn btn-flat">
            <i class="fas fa-search"></i> Search
          </button>
      <% unless current_user %>
          <p id="search-box-text-bottom"><a href="/users/sign_in" id="sign-in" target="/users/sign_up">Sign up here</a> to apply for jobs.</p>
      <% else %>
          <p id="search-box-text-bottom"><a href="/users/sign_in" id="sign-in" target="/users/sign_up">Visit your dashboard here</a> to see the jobs you've saved.</p>
      <% end %>

        </div>
      </div>
      <% end %>
      <img id="landing-hero-dog" src="https://res.cloudinary.com/dt02hu2ll/image/upload/v1574339347/Template_Dog_u6swis.png" height="668px" width="500px">
      <img id="landing-hero-coins" src="https://res.cloudinary.com/dt02hu2ll/image/upload/v1574348239/Coins_tb7iv7.png" height="268px" width="250px">
    </div>
  </div>
</div>
<div class="content-home"></div>

  <div class="row justify-content-between p-3">
    <% @jobs.each do |j|%>
      <%= render 'shared/job-card', j: j %>
    <% end %>
  </div>
    <%= link_to 'Display all jobs', jobs_path, class: 'btn btn-flat', id: 'display_all_jobs' %>
</div>
