<div class="landing-body">
  <div id="landing-hero">

    <img id="landing-logo" src="https://res.cloudinary.com/dt02hu2ll/image/upload/v1574099382/Template_Logo_V1_evmfvp.png"/ height="80px">
    <h1 id="landing-hero-h1">The quickest and easiest way <br>to find short term work that<br>suits your lifestyle.</h1>

    <div class="card">
   <%= simple_form_for :search, url: jobs_path, method: :get do |f| %>
    <div class="landing-page-search">
      <p id="search-box-text">Enter the type of job you are looking for:</p>
      <input class="form-control string required" type="text" placeholder="e.g Mechanic, Waitress..." name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat" id="landing-search-btn">
        <i class="fas fa-search"></i> Search
      </button>
         <p id="search-box-text-bottom"><a href id="sign-in" target="_blank">Signing in</a> allows you to see your saved jobs.</p>
    <% end %>
</div>

    <img id="landing-hero-dog" src="https://res.cloudinary.com/dt02hu2ll/image/upload/v1574339347/Template_Dog_u6swis.png" height="668px" width="500px">
</div>
<div class="content-home"></div>
