<div class="row mx-0 landing-body my-3">
  <div id="landing-hero">
    <div class="col-12 col-lg-6">
      <h1 id="landing-hero-h1">The quickest and easiest way to find short term work that suits your lifestyle.</h1>
    </div>
    <%= image_tag "undraw_modern_life_u1ev.svg", alt: "alttext", class: 'homepage-image d-none d-lg-block d-xl-block' %>

      <div id="signup">
        <a href="/users/sign_up" class="btn btn-sign-up"  data-toggle="modal" data-target="#modalContactForm">Sign up</a>
      </div>


  </div>
</div>
