<div class="row mx-0 landing-body my-3">
  <div id="landing-hero">
    <div class="row navbar-preload">
      <%= cl_image_tag "https://res.cloudinary.com/dt02hu2ll/image/upload/v1574099382/Template_Logo_V1_evmfvp.png", alt: "alttext", height: 60, class: 'homepage-img'%>

    </div>
    <div class="col-12 col-lg-6">
      <h1 id="landing-hero-h1">The quickest and easiest way to find short term work that suits your lifestyle.</h1>
    </div>
    <%= image_tag "undraw_modern_life_u1ev.svg", alt: "alttext", class: 'homepage-image d-none d-lg-block d-xl-block' %>

      <div id="signup">

        <a href="/users/sign_up" class="btn btn-sign-up"  data-toggle="modal" data-target="#signup_form">Sign up</a>
      </div>




  </div>
</div>



<div class="modal fade" id="signup_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg signup-modal-master" role="document">
    <div class="modal-content signup-modal">
      <%= render 'devise/registrations/sign-up-modal' %>
    </div>
  </div>
</div>



