
.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.1s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-flat {
  color: #2969DA;
  border: 1px solid #2969DA;
  padding: 8px 24px;
  border-radius: 50px;
  transition: background 0.1s ease;
}

.btn-flat:hover {
  background: #2969DA;
  color: white;
}

.btn-ghost {
  color: #D36135;
  border: 1px solid #D36135;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 1;
  transition: opacity 0.1s ease;
}

.btn-ghost:hover {
  background-color: #D36135;
  color: white;
}

.btn-show {
  color: #D36135;
  border: 1px solid #D36135;
  padding: 3px 9px;
  border-radius: 50px;
  opacity: 1;
  transition: opacity 0.1s ease;
}

.btn-show:hover {
  background-color: #D36135;
  color: white;
}

.btn-paid {
  background: #FE2908;
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  transition: background 0.1s ease;
}

.btn-paid:hover {
  background: #FE2908;
  color: white;
}

.btn-map {
  background-color: white;
  color: #D36135;
  border: 1px solid #D36135;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 1;
  transition: opacity 0.1s ease;
}

.btn-map:hover {
  background-color: #D36135;
  color: white;
}
