
.btn {
  font-weight: bold;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.1s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-flat {
  color: #2969DA;
  border: 1px solid #2969DA;
  padding: 8px 24px;
  border-radius: 50px;
  transition: background 0.1s ease;
}

.btn-flat:hover {
  background: #2969DA;
  color: white;
}

.btn-ghost {
  color: #D36135 !important;
  border: 1px solid #D36135;
  background-color: white;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 1;
  transition: opacity 0.1s ease;
}

.btn-ghost:hover {
  background-color: #D36135;
  color: white !important;
}

.btn-show {
  color: #D36135;
  border: 1px solid #D36135;
  padding: 3px 9px;
  border-radius: 50px;
  opacity: 1;
  transition: opacity 0.1s ease;
}

.btn-show:hover {
  background-color: #D36135;
  color: white;
}

.btn-paid {
  background: #FE2908;
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  transition: background 0.1s ease;
}

.btn-paid:hover {
  background: #FE2908;
  color: white;
}

.btn-map {
  background-color: white;
  color: #D36135;
  border: 1px solid #D36135;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 1;
  transition: opacity 0.1s ease;
}

.btn-map:hover {
  background-color: #D36135;
  color: white;
}

.btn-sign-up {
  background-color: #3DCC96;
  color: #FCF7F8 !important;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 1;
  transition: opacity 0.1s ease;
  text-align: center;
  input {
    color: #FCF7F8;
  }
  &:hover {
  background-color: white;
  border: 1px solid #3DCC96;
  color: #3DCC96 !important;
  input {
    color: #3DCC96 !important;
    }
  }
}

.btn-login {
  color: #A5B3C0 !important;
  border: 1px solid #A5B3C0;
  background-color: white;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 1;
  transition: opacity 0.1s ease;
}

.btn-login:hover {
  background-color: #A5B3C0;
  color: white !important;
}

.btn-sector {
  color: #A5B3C0 !important;
  border: 1px solid #A5B3C0;
  background-color: white;
  border-radius: 50px;
  height: 24px;
  font-size: 8px;
}

.btn-search {
  color: white !important;
  border: 1px solid #A5B3C0;
  background-color: #A5B3C0 !important;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 1;
  transition: opacity 0.1s ease;
}

.btn-search:hover {
  background-color: white !important;
  color: #A5B3C0 !important;
}

.btn-modal {
  margin-top: 15px;
  margin-bottom: -40px;
  font-family: Arial;
  letter-spacing: -0.05em;
  border-radius: 5px;
  width: 100%;
}
