.full-height {
 height: 100vh;
 overflow: hidden;
}

input.form-control.sidebar-form {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 0;
  border-radius: 0;
}

.chat-box {
  height: 94vh;
  overflow: scroll;
}

.chat {
  border-radius: 3px;
  padding: 0rem 2rem 0 1rem;
}

.chat-username {
  font-size: 0.7rem;
}

.chat-message {
  font-size: 0.85rem;
}
