.full-height {
 height: 100vh;
 overflow: hidden;
}

input.form-control.sidebar-form {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 0;
  border-radius: 0;
}

.chat-box {
  height: 94vh;
  overflow: scroll;
}

.chat {
  border-radius: 3px;
  padding: 0rem 2rem 0 1rem;
}

.chat-username {
  font-size: 0.7rem;
}

.chat-message {
  font-size: 0.85rem;
}

.recipient-chat-card {
  background-color: rgba(41,105,218,0.3);
  position: relative;
  border-radius: .4em;
  box-shadow: none !important;
}

.recipient-chat-card:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-right-color: rgba(41,105,218,0.3);
  border-left: 0;
  margin-top: -13px;
  margin-left: -13px;
}

.sender-chat-card {
  background-color: rgba(41,105,218,0.7);
  position: relative;
  border-radius: .4em;
  box-shadow: none !important;
}

.sender-chat-card:before {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-left-color: rgba(41,105,218,0.7);
  border-right: 0;
  margin-top: -13px;
  margin-right: -13px;
}

#chat_section {
  height: 53.5vh;
  overflow: auto;
}

#message-text {
  min-width: 100%;
  max-width: 200px;
  min-height: 3.5rem;
  overflow-y: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #E7E7E7;
}

.sender {
  float: right;

}

.recipient {
  float: left;

}
