.full-height {
 height: 100vh;
 overflow: hidden;
}

input.form-control.sidebar-form {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 0;
  border-radius: 0;
}

.chat-box {
  height: 94vh;
  overflow: scroll;
}

.chat {
  border-radius: 3px;
  padding: 0rem 2rem 0 1rem;
}

.chat-username {
  font-size: 0.7rem;
}

.chat-message {
  font-size: 0.85rem;
}

.recipient-chat-card {
  background-color: rgba(41,105,218,0.3);
}

.sender-chat-card {
  background-color: rgba(41,105,218,0.7);
}

#chat_section {
  max-height: 55vh;
  overflow: auto;
}

#message-text {
  min-width: 100%;
  max-width: 200px;
  min-height: 3.5rem;
  overflow-y: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  border: 1px solid #E7E7E7;
}

.sender {
  float: right;

}

.recipient {
  float: left;

}
