#new_shift {
  width: 308px;
}
.justify-content-center {
  display: flex;
}

.radio_buttons {
  legend {
    font-weight: 600;
    letter-spacing: -0.05em;
    font-size: 1.5rem
  }


}




@media (max-width: 768px) {
   .modal-lg {
    max-width: 500px;
  }
}
// .simple_form.new_user {
//   input[type="submit"] {
//     @extend .btn-sign-up;
//     display: block;
//     width: 100%;
//   }
// }

.modal-dialog.signup-modal-master {
  input[type="submit"] {
    @extend .btn-sign-up;
    display: block;
    width: 100%;
  }
}

.form-inputs.sign-up-modal-form {
  input[type="submit"] {
    @extend .btn-sign-up;
    display: block;
    width: 100%;
  }
}
