.red-marker {
  color: #D36135;
}

.green-marker {
  color: #3DCC96 !important;
}

.pink-icon {
  color: #FFC0CB;
}

.blue-icon {
  color: #C9DAEA;
}

.star {
  color: #FFD700;
}

.red-icon {
  // color: #F71735;
  color: #CC2936;
}
