.job-card-container {
  display: flex;
  flex-direction: column;
}

.card-jobtitle {
  letter-spacing: -0.04em;
  font-weight: 600;
  color: #333333;
  text-transform: capitalize;
}

.card-location {
  letter-spacing: -0.04em;
  font-weight: 400;
  color: #909090;
}

.card-text {
  letter-spacing: -0.04em;
}

.shift-dropdown {
  min-width: 100%;
}

.collapsible {
  cursor: pointer;
}

.content-collapse {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-out;
  border-radius: 2px;
}
