.job-card-container {
  min-height: 245px;
  display: flex;
  flex-direction: column;
}

.card-jobtitle {
  font-family: Arial;
  letter-spacing: -0.04em;
  font-weight: 600;
  color: #333333;
  text-transform: capitalize;
}

.card-location {
  font-family: Arial;
  letter-spacing: -0.04em;
  font-weight: 400;
  color: #909090;
}

.card-text {
  font-family: Arial;
  letter-spacing: -0.04em;
}
