.mapboxgl-popup {
  width: 500px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 0 !important;
  border-radius: 25px !important;
}

.card-icon {
  color: #D36135;
  padding-bottom: 12px;
  font-size: 25px;
}

.info-window {
  background-color: white;
  border-radius: 25px;
  border: 1px solid #D36135;
}

.info-window h5 {
}

.mapboxgl-popup-close-button {
  display: none;
}


