@media (max-width: 500px) {
  .navbar-lewagon {
    display: none !important
  }

}

@media (min-width: 500px) {
  .navbar-bottom {
    display: none !important
  }

}

.bottom-navlink {
  color: white;
  font-size: 30px;
}

.navbar-bottom {
  justify-content: space-between;
  background-color: #2969DA;
  max-width: 100%;
  min-height: 66px;
}


.navbar-lewagon {
  justify-content: space-between;
  background-color: #2969DA;
  max-width: 100%;
}

.navbar-homepage {
  justify-content: space-between;
  background-color: #2a69da;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 135px;
}

.navbar-lewagon-white {
  background-color: white;
  opacity: 0.7;
}
.nav-text {
  color: white !important;
}

.rounded {
  border-radius: 50%;
  background-color: transparent;
}

.empty_space {
  height: 20vh;
}

.lots_of_empty_space {
  height: 60vh;
}

.lots_of_empty_space_new_password {
  height: 55vh;
}
