.navbar-lewagon {
  justify-content: space-between;
  background-color: #028090;
}

.navbar-homepage {
  justify-content: space-between;
  background-color: rgba(0,0,0,0);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1030;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 135px;
}

.navbar-lewagon-white {
  background-color: white;
  opacity: 0.7;
}
.nav-text {
  color: white !important;
}


// .nav-text-dark {
//   color: black !important;
// }

.rounded {
  border-radius: 50%;
  background-color: transparent;
}
