.signup-modal-master {
  max-width: 600px;
}

.signup-modal {
  padding: 30px;
}

.sign-up-modal-form {
  font-family: Arial;
  letter-spacing: -0.05em;
  margin-top: 10px;
  font-weight: 700;
}

.signup-title {
  padding-left: 1px !important;
}

.termsandcond {
  font-family: Arial;
  letter-spacing: -0.05em;
}

.signup-arrow {
  color: #167FFB;
}
