.signup-modal-master {
  max-width: 600px;
}

.signup-modal {
  padding: 30px;
}

.sign-up-modal-form {

  letter-spacing: -0.05em;
  margin-top: 10px;
  font-weight: 700;
}

.signup-title {
  padding-left: 1px !important;
}

.termsandcond {

  letter-spacing: -0.05em;
}

.signup-arrow {
  color: #167FFB;
}


.employer_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10vh;
  margin-top: 5vh;

  .svg-input {
    width: 200px;
    height: 200px;
    opacity: .7;
    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.full-opacity {
  opacity: 1 !important;
  width: 120px;
  height: 120px;
  background: #5DD4A6;
  border-radius: 50%;
  color: #FFF;
  font-size: 20px;
  text-align: center;
  line-height: 100px;
  font-family: sans-serif;
  text-transform: uppercase;
  animation: animate-pulse 3s linear infinite;
  cursor: pointer
}

.svg-input {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@keyframes animate-pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(93,212,166,1),  0 0 0 0 rgba(93,212,166,1);
    }
    40%{
        box-shadow: 0 0 0 50px rgba(93,212,166,0.0),  0 0 0 0 rgba(93,212,166,1);
    }
    80%{
        box-shadow: 0 0 0 50px rgba(93,212,166,0.0),  0 0 0 30px rgba(93,212,166,0.0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(93,212,166,0.0),  0 0 0 30px rgba(93,212,166,0.0);
    }

}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
