<% page = "reviews" %>

<div class="wrapper">
  <% if current_user.employer %>
    <%= render 'pages/shared/employer_dashboard_sidebar', page: page %>
  <% else %>
    <%= render 'pages/shared/employee_dashboard_sidebar', page: page %>
  <% end %>
  <div class="cont pt-3">

    <div class="row">
      <div class="col-lg-6 col-12">

        <h3 class="pt-3"><%= current_user.first_name %>'s Reviews</h3>
        <div class="p-3 m-2">

          <% if current_user.reviews.any? %>
            <% current_user.reviews.each do |review| %>
              <%= render 'reviews/shared/review-card', review: review %>
            <% end %>
          <% else %>
            <p>No reviews yet</p>
          <% end %>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <h3 class="pt-3">Oustanding Reviews</h3>
      </div>
    </div>

  </div>
</div>

